<section class="concept-system-page">
  {% unless page.handle == 'gamedirectory' %}
    <div class="container-page concept-prose">
      <h1>{{ page.title }}</h1>
      {{ page.content }}
    </div>
  {% endunless %}
</section>

{% schema %}
{"name":"Main page","settings":[]}
{% endschema %}
